<div class="container">
    <mat-nav-list>
        <div class="profile-card">
            <div class="header">
                <h2>Soubds</h2>
                <h2>Exampl@hotmail.com</h2>
            </div>
            <img src="" alt="">
        </div>

        <mat-divider></mat-divider>

        <h2 matSubHeader> Pages</h2>

        <a mat-list-item routerLinkActive="list-item-active" routLink="/">Dashboard</a>
        <a mat-list-item routerLinkActive="list-item-active" routLink="/posts">Posts</a>
        <a mat-list-item routerLinkActive="list-item-active" routLink="/articles">Articles</a>
       
        <mat-divider></mat-divider>

        <h2 matSubHeader>Tools</h2>
        <a mat-list-item routerLinkActive="list-item-active" routLink="/contacts">
            <mat-icon>import_contacts</mat-icon>
            Contacts
        </a>
        <a mat-list-item routerLinkActive="list-item-active" routLink="/contacts">
            <mat-icon>contacts_phone</mat-icon>
            Leads    
        </a>
        <div>
            profile
        </div>

        menu
        
        <mat-divider></mat-divider>
        
        another menu
    </mat-nav-list>
</div>