      <!--INICIO DO CONTEUDO-->
      <section class="content-header">
      </section>

      <section class="content">
        <section class="invoice">
              <!-- nonvalidate stop the usual validate -->
              <form [formGroup]="orderForm" novalidate>
                <div class="row">
                  <div class="col-xs-12">
                    <h2 class="page-header">
                      <i class="fa fa-shopping-cart"></i> Finalize o seu pedido
                    </h2>
                  </div>
                </div>                
                
                <div class="row">
                  <div class="col-xs-12">
                    <p class="lead">Seus Dados:</p>
                    <mt-input-content errorMessage="Campo obrigatório e com 5 caracteres" label="name">
                      <input  class="form-control" formControlName="name" placeholder="Name" required minlength="5" autocomplete="off">
                    </mt-input-content>
                    <mt-input-content errorMessage="Email Inválido" label="email">
                      <input  class="form-control" formControlName="email" placeholder="email" required autocomplete="off">
                    </mt-input-content>
                    <mt-input-content errorMessage="Email Inválido" label="email">
                      <input  class="form-control" formControlName="emailConfirmation" placeholder="confimr email" required autocomplete="off">
                    </mt-input-content>
                  </div>
                </div>
                <div class="row invoice-info">
                  <div class="col-xs-12">
                    <p class="lead">Endereço de Entrega:</p>
                  </div>
                  <div class="col-sm-6 col-xs-12">
                    <mt-input-content errorMessage="Campo obrigatório e com 5 caracteres" label="Endereço">
                      <input  class="form-control" formControlName="address" placeholder="Endereço" required minlength="5" autocomplete="off">
                    </mt-input-content>
                  </div>
                  <div class="col-sm-3 col-xs-6">
                    <mt-input-content errorMessage="Campo Númerico e obrigatório" label="Número">
                      <input  type="text" class="form-control" formControlName="number" placeholder="Número" required autocomplete="off">
                    </mt-input-content>
                  </div>
                  <div class="col-sm-3 col-xs-6">
                    <mt-input-content errorMessage="Campo obrigatório e com 5 caracteres" label="Endereço">
                      <input  type="text" class="form-control" formControlName="optionalAddress" placeholder="Complemento" autocomplete="off" >
                    </mt-input-content>
                  </div>
                  <!-- /.col -->
                </div>
                <!-- /.row -->

                <!-- Table row -->
                <div class="row">
                  <div class="col-xs-12">
                    <p class="lead">Itens do Pedido:</p>
                  </div>
                  <mt-order-items [items]="cartItems()"
                  (increaseQty)="increaseQty($event)"
                  (decreaseQty)="decreaseQty($event)"
                  (remove)="remove($event)"></mt-order-items>
                <!-- /.row --> 
                </div>

                <div class="row">
                  <!-- accepted payments column -->
                  <div class="col-sm-6 col-xs-12">
                    <p class="lead">Formas de Pagamento:</p>
                      <div class="form-group">
                         <mt-radio [options]="paymentOptions" formControlName="paymentOption" required ></mt-radio>
                      </div>

                  </div>
                  <!-- /.col -->
                  <div class="col-sm-6 col-xs-12">
                    <p class="lead">Frete e Total:</p>

                  <mt-delivery-costs 
                  [delivery]="delivery"
                  [itemsValue]="itemsValue()"></mt-delivery-costs>
                  </div>
                  <!-- /.col -->
                </div>

              </form>

              <div class="row pull-rigth">
                <div class="col-xs-12">
                  <button (click)="checkOrder(orderForm.value)" class="btn btn-success" [disabled]="!orderForm.valid || cartItems().length === 0">
                    <i class="fa fa-credit-card"></i>Concluir pedido</button>
                </div>
              </div>

          </section>
      </section>
      <!-- FIM DO CONTEUDO-->