<!-- Desenvolvido por:
Nome: Mathias Fernandes
USP:  10734352
email: mathfernandes@usp.br
email2: mathfern4@gmail.com

Questões e explicação das pastas em  README.md -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login app</title>
    <link rel="stylesheet" href="style.css">

</head>
<body>
    <div id="app">
        <div class="container">
            <h1>{{titulo}}</h1>
            <router-link :to="{ name: 'home' }">Home</router-link>
            <router-link :to="{ name: 'singup' }">Singup</router-link>
            <router-link :to="{ name: 'singin' }">Singin</router-link>
            <router-view></router-view>
        </div>
    </div>    
    <template id="singup">
        <div>
            <h2>Junte-se conosco!</h2>
            <div v-if="sucess === false">
                <span>
                    {{response.msg}}
                </span>
            </div>
            <form v-on:submit="registerUser">
                <input type="text" name="username" placeholder='username'v-model="username"/><br>
                <input type="text" name="email" placeholder='email' v-model="email"/><br>
                <input type="text" name="address" placeholder='address'v-model="address"/><br>
                <input type="password" name="password" placeholder='password' v-model="password"/><br>
                <input type="password" name="confirm_password" placeholder='confirme password' v-model="confirm_password"/><br>       
                <input type="submit" value="Criar" />    
            </form> 
        </div>
    </template>
    
    <template id="singin">
        <div>
            <h2>Acesse sua conta</h2>
            <div v-if="sucess === false">
                <span>
                    {{response.msg}}
                </span>
            </div>
            <form v-on:submit="login">
                <input type="text" name="username" placeholder='username' v-model="username"/><br>
                <input type="password" name="password" placeholder='password' v-model="password"/><br>    
                <input type="submit" value="Entrar" />    
            </form>
        </div>
    </template>

    <template id="perfil">
        <div>
            <div v-if="sucess === true">
                <p>
                    <strong>id: </strong> {{ id }}
                </p>
                <p>
                    Olá <strong>{{ username }}</strong>. Isso é tudo.
                </p>
                <p>
                    <strong>email: </strong> {{ email }}
                </p>
                <p>
                    <strong>address: </strong> {{ address }}
                </p>
                <button @click="deleteUser">Excluir conta</button>
            </div>
            <div v-if="sucess === false">
                <p v-if="sucess === false">
                    <span>{{response.msg}}</span>
                </p>
            </div>
        </div>
    </template>

    <template id="home">
        <h1> 
            Bem vindo
        </h1>
    </template>

    <template id="error404">
        <p> 
            Página nõ encontrada
        </p>
    </template>
    
    <script src="https://unpkg.com/vue"></script>
    <script src="https://unpkg.com/vue-router/dist/vue-router.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script>
        let registerMixin = {
            data() {
                return {
                    username: '',
                    password: '',
                    confirm_password: '',
                    address: '',
                    email: '',
                    permissions: [],
                    sucess: undefined,
                    response: {
                        msg: '',
                    }
                }
            },
            methods: {
                registerUser() {
                    event.preventDefault();
                    
                    let url = 'http://localhost:3001/users/newUser/register';
                    axios
                        .post(url, {
                            "username": this.username,
                            "password": this.password,
                            "confirm_password": this.confirm_password,
                            "email": this.email,
                            "address": this.address,
                            "permissions" : ['r'],
                        })
                        .then(response => {
                            this.sucess = true;
                            this.$router.push({name: 'singin'});

                        }, error => {
                            console.log(error.response.data);
                            this.response.msg = error.response.data.message;
                            this.sucess = false;
                        })
                }
            }
        }

        let loginMixin = {
            data() {
                return {
                    password: '',
                    username: '',
                    sucess: undefined,
                    response: {
                        msg: '',
                    }
                }
            },
            methods: {
                login() {
                    event.preventDefault();
                    let url = 'http://localhost:3001/users/login';
                    axios
                        .post(url, {
                            "username": this.username,
                            "password": this.password,
                        })
                        .then(response => {
                            this.sucess = true;
                            this.$router.push({name: 'perfil', params: { username: this.username } });

                        }, error => {
                            this.response.msg = error.response.data.message;
                            this.sucess = false;
                        })
                },
            }
        }

        const Singin = Vue.component('sing-in', {
            template: '#singin',
            mixins: [loginMixin],
        });

        const Singup = Vue.component('sing-up', {
            template: '#singup',
            mixins: [registerMixin]

        });

        const Perfil = Vue.component('perfil', {
            template: '#perfil',
            created() {
                this.getInfo(this.$route.params.username);
            },
            data() {
                return {
                    id: '',
                    username: '',
                    password: '',
                    email: '',
                    address: '',
                    sucess: undefined,
                    response: {
                        msg: '',
                    }
                }
            },
            methods: {
                getInfo(username) {
                    let url = `http://localhost:3001/users/${username}`;
                    axios
                        .get(url)
                        .then(response => {
                            console.log(response);
                            this.sucess = true;
                            this.id = response.data.data._id;
                            this.username = response.data.data.username;
                            this.email = response.data.data.email;
                            this.address = response.data.data.address;
                        }, error => {
                            this.response.msg = error.response.data.message;
                            this.sucess = false;
                        });
                },

                // deleta um usuarios
                deleteUser() {
                    event.preventDefault();
                    let url = `http://localhost:3001/users/delete/${this.id}`; // busca pelo id
                    axios
                        .delete(url)
                        .then(response => {
                            console.log(response);
                            this.sucess = false;
                            this.response.msg = response.data.message;
                            // tempo para o usuário let a mensagem que foi excluido
                            setTimeout(() => {
                                this.$router.push({name: 'singin'});
                            }, 2000);
                        }, error => {
                            console.log(error)
                            this.sucess = true;
                        });
                }
            }
        });

        const Home = Vue.component('home', {
            template: '#home',
        });

        const ErrorNotFound = Vue.component('error404', {
            template: '#error404',
        });

        let router = new VueRouter({
            mode: 'history',
                routes: [
                {
                    path: '/user-login', name: 'home', component: Home 
                },
                {
                    path: '/singin', name: 'singin', component: Singin, 
                },
                {
                    path: '/singup', name: 'singup', component: Singup 
                },
                {      
                    path: '/perfil/:username', name: 'perfil', component: Perfil
                },
                {
                    path: '*', name: 'error', component: ErrorNotFound
                }
            ]
        });

        let app = new Vue({
            el: '#app',
            router, 
            data: {
                titulo: "Autenticação!",
            }
        }); 
    </script>
</body>
</html>