/* 
............................................................
Mathias Fernandes Duarte Coelho
NUSP: 10734352
Email: mathfern444@gmail.com
EmailUSP: mathfernandes@usp.br
............................................................ 
*/

* {
    font-size: 40px;
}